html { visibility: hidden; }

.container {
    width: 60% !important;
}

#toast-container {
    top: 40% !important;
    right: auto !important;
    bottom: auto !important;
    left: 38%;
}

.btn {
    background: -webkit-linear-gradient(left, rgb(39, 142, 116) 0%, rgb(99, 253, 136) 100%) !important;
    width: 150px !important;
    min-width: 80px !important;
}

.row .col {
    float: none !important;
    margin-left: auto;
    margin-right: auto;
}

.dark-mode {
    background-color: #120D16 !important;
    color: white !important;
    caret-color: white !important;
}

body {
    background-color: #eceff1;
    color: black;
    caret-color: black;
}

.lever {
    background: -webkit-linear-gradient(left, rgb(39, 142, 116) 0%, rgb(99, 253, 136) 100%) !important;
}

.switch {
    display: inline-block !important;
    margin-left: 3% !important;
    margin-bottom: 30px !important;
    vertical-align: 7px !important;
}