{{> parts/header }}
    <body class="dark-mode">
        <div class="container">
            {{> parts/title }}
            <div class="row">
                <div class="col s8">
                    <h4 class="center-align">Welcome
                        <span class="user-span">
                            {{ username }} <i class="material-icons green-text">verified_user</i>
                        </span>
                    </h4>
                    <ul>
                        <li>Your wallet</li>
                        <li>Transactions history</li>
                    </ul>
                    {{> parts/logout }}
                </div>
            </div>
        </div>
    </body>
{{> parts/footer }}