{{> parts/header }}
    <body>
        {{> parts/title }}
        <h3>Welcome <span>{{ username }} <i class="material-icons green-text">verified_user</i></span></h3>
        <h4>What do you want to do ?</h4>
        <ul>
            <li>Create a new wallet</li>
            <li>Send / Receive wicoins</li>
            <li>
                <form class="col s4 m8 l12" method="post" action="logout">
                    <div class="row">
                        <div class="col s12">
                            <div class="input-field col s12 l6 offset-l5 offset-s3">
                                <button class="btn waves-effect waves-light"
                                        type="submit">Logout
                                    <i class="material-icons right red-text accent-4">input</i>
                                </button>
                            </div>
                        </div>
                    </div>
                </form>
            </li>
        </ul>
    </body>
{{> parts/footer }}