{{> parts/header }}
        <div class="container">
            {{> parts/title }}
            <div class="row">
                <div class="col s12">
                    <div class="row">
                        {{# errorMessage }}
                            <input id="error-message" type="hidden" value="{{ errorMessage }}">
                        {{/ errorMessage }}
                        <form class="col s4 m8 l12" method="post" action="login">
                            <div class="row">
                                <div class="col s12">
                                    <div class="input-field col s12 l5">
                                        <input id="email"
                                               type="email"
                                               name="email"
                                               class="validate active"
                                               autofocus>
                                        <label for="email">Email</label>
                                        <span class="helper-text" data-error="Wrong format for an email" data-success="right format"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col s12">
                                    <div class="input-field col s12 l5">
                                        <input id="password"
                                               type="password"
                                               name="password"
                                               class="validate"
                                               autocomplete="on"
                                               minlength="12"
                                               maxlength="40">
                                        <label for="password">Password</label>
                                        <span class="helper-text" data-error="Password is too short (between 12 and 40 characters)" data-success="right format"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="row center-align">
                                <div class="col s12">
                                    <div class="input-field col s12 l5">
                                        <button id="login-submit-button"
                                                class="btn waves-effect waves-light tooltipped"
                                                style="visibility: hidden;"
                                                type="submit"
                                                data-position="top"
                                                data-tooltip="Login into personal account"
                                                onclick="validateData(event)">Login
                                            <i class="material-icons right">send</i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="row center-align">
                        <div class="col s6">
                            <div class="input-field col s12 l5">
                                <a class="btn tooltipped"
                                        href="register"
                                        data-position="top"
                                        data-tooltip="Not registered yet ? Click here">Register
                                    <i class="material-icons right">contact_mail</i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
{{> parts/footer }}