{{> parts/header }}
<div class="container">
    {{> parts/title }}
    <div class="row">
        <div class="col s8">
            <h4 class="center-align">Welcome
                <span class="highlight-span">
                            {{ username }} <i class="material-icons green-text">verified_user</i>
                        </span>
            </h4>
            {{# wallet }}
                <h5 class="center-align">Wallet address: <span class="highlight-span" id="span-wallet-id">{{ wallet.walletId }}</span></h5>
                <h6 class="center-align">{{ wallet.balance }} Wicoins</h6>
                <img id="qrcode" src="" alt="Your wallet address" title="Your wallet address" width="200px" height="200px">
            {{/ wallet }}
            {{^ wallet }}
                {{> parts/new-wallet }}
            {{/ wallet }}
            <ul>
                <li>
                    <div class="row center-align">
                        <div class="col s6">
                            <div class="input-field col s12 l5">
                                <a class="btn tooltipped"
                                   href="home"
                                   data-position="top"
                                   data-tooltip="Go home">Home
                                    <i class="material-icons right">home</i>
                                </a>
                            </div>
                        </div>
                    </div>
                </li>
                <li>Transactions history</li>
            </ul>
            {{> parts/logout }}
        </div>
    </div>
</div>
{{> parts/footer }}