<div class="row center-align">
    <div class="col s6">
        <div class="input-field col s12 l5">
            <a class="btn tooltipped"
               href="home"
               data-position="top"
               data-tooltip="Go home">Home
                <i class="material-icons right">home</i>
            </a>
        </div>
    </div>
</div>