<div class="row center-align">
    <div class="col s6">
        <form method="post" action="logout">
            <div class="input-field col s12 l5">
                <button id="logout-submit-button"
                        class="btn waves-effect waves-light tooltipped"
                        style="visibility: hidden;"
                        data-position="bottom"
                        data-tooltip="Exit wicoins app"
                        type="submit">Logout
                    <i class="material-icons right">input</i>
                </button>
            </div>
        </form>
    </div>
</div>