<div class="switch">
                    <label>
                        <span>
                            <i class="medium material-icons tooltipped orange-text"
                                data-tooltip="Show application in light mode"
                                data-position="bottom"
                                id="icon-mode"
                                onclick="toggleSwitchMode()">light_mode
                            </i>
                        </span>
                    </label>
                </div>