<div class="switch">
                    <label>
                        <span>
                            <i class="material-icons tooltipped blue-text"
                               data-tooltip="Dark mode"
                               data-position="bottom">dark_mode
                            </i>
                        </span>
                        <input id="toggle-mode-input" type="checkbox" onclick="toggleSwitchMode()">
                        <span class="lever"></span>
                        <span>
                            <i class="material-icons tooltipped orange-text"
                               data-tooltip="Light mode"
                               data-position="bottom">light_mode
                            </i>
                        </span>
                    </label>
                </div>